<!--Footer-->
<footer class="page-footer center-on-small-only elegant-color-dark d-print-none"
  *ngIf="siteConfigService.siteConfig as config">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">Sobre WTM e GDG:</h5>
        <p>O Women Techmakers é um programa que provê visibilidade, comunidade e recursos para mulheres e minorias
          em tecnologia. Já o Google Developers Group é uma comunidade de usuários de tecnologia que se reúne regularmente
          para discutir as últimas tecnologias, ferramentas, SDKs, APIs do Google e muito mais </p>
        <p><small><strong>Disclaimer:</strong>&nbsp;<em>GDG & WTM são grupos independentes; nossas atividades e as
              opiniões expressas aqui não devem, de forma alguma, ser vinculadas ao Google, a corporação.</em></small>
        </p>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">Links</h5>
        <ul>
          <li><a href="https://www.womentechmakers.com/" target="_blank" rel="noopener">Women Techmakers</a></li>
          <li><a href="https://developers.google.com/" target="_blank" rel="noopener">Google Developers</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">Contato</h5>
        <ul>
          <li><a href="mailto:{{ config?.eventEmail }}" target="_blank" rel="noopener"><i class="fa fa-email"> </i> {{
              config?.eventEmail }}</a></li>
          <li *ngIf="config?.eventTwitter"><i class="fa fa-twitter"></i> <a
              href="https://twitter.com/intent/tweet?text=@{{ config?.eventTwitter }}" target="_blank"
              rel="noopener">@{{ config?.eventTwitter }}</a></li>
          <li *ngIf="config?.twitterLink"><i class="fa fa-twitter"></i> <a
              href="https://twitter.com/intent/tweet?text=@{{ config?.twitterLink }}" target="_blank" rel="noopener">
              @{{ config?.twitterLink }}</a></li>
          <li *ngIf="config?.eventInstagram"><a href="https://www.instagram.com/{{ config?.eventInstagram }}"
              target="_blank" rel="noopener"><i class="fa fa-instagram"> </i> @{{ config?.eventInstagram }}</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">FAQ</h5>
        <ul>
          <li><a href="http://gdg.rocks/codigodeconduta" target="_blank" rel="noopener">Código de Conduta</a></li>
          <li><a href="https://meetup.com/pro/gdg" target="_blank" rel="noopener">Google Developer Groups</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid text-center">
      &copy; {{ copyright }} Copyright <a [href]="config?.groupWebsite" target="_blank" rel="noopener">{{
        config?.eventName }}</a>
      <br>Based on the <a href="https://github.com/neojato/DeLorean-v2" target="_blank" rel="noopener">DeLorean
        Project</a>
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->