<app-top-menu></app-top-menu>

<div class="between-sections d-print-none"><br><br></div>
<div class="container">
  <!--Section: CoC-->
  <section class="section" *ngIf="siteConfigService.siteConfig as siteConfig">
    <div>
      <h1 class="section-heading">IWD Floripa 2023 - Código de Conduta</h1>
    </div>
    <div class="pt-1 pb-4">
      <h5>
        As WTMs participantes na organização do {{ siteConfig?.eventName }} se dedicam a fornecer um evento inclusivo e
        sem assédio para todas as pessoas, independentemente da identidade e expressão de gênero, orientação sexual,
        deficiência, neurodiversidade, aparência física, tamanho do corpo, etnia, nacionalidade, cor, idade, religião ou
        outra categoria.
        Não toleramos assédio às pessoas participantes do evento de nenhuma forma. As WTMs levam a sério as violações
        desta política e responderam adequadamente.
      </h5>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">Sejam excelentes</h4>
      <p>
        Trate todas as pessoas com respeito. Participe reconhecendo que todas merecem estar aqui - e cada uma de nós tem
        o direito de desfrutar dessa experiência sem medo de assédio, discriminação, condescendência, flagrante ou
        micro-agressões. Piadas não devem menosprezar outras pessoas. Considere o que você está dizendo e como seria se
        fosse dito para você ou sobre você.
      </p>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">Fale se ver ou ouvir algo</h4>
      <p>
        O assédio não é tolerado e você tem o poder de se envolver educadamente quando você ou outras pessoas são
        desrespeitadas. A pessoa que faz você se sentir desconfortável pode não estar ciente do que está fazendo,
        encorajamos que você educadamente conscientize-a disso.
      </p>
      <div>
        Temos uma POLÍTICA DE TOLER NCIA ZERO para assédio de qualquer tipo. Incluindo mas não limitando a:
        <ul>
          <li>Perseguição</li>
          <li>Intimidação deliberada</li>
          <li>Assédio através de fotografia ou filmagem</li>
          <li>Interrupção prolongada de conversas ou outros eventos</li>
          <li>Linguagem verbal ofensiva</li>
          <li>Linguagem verbal que reforça estruturas de dominação social</li>
          <li>Contato físico inapropriado</li>
          <li>Atenção sexual ou física indesejada</li>
        </ul>
        Em relação a, mas não limitado a:
        <ul>
          <li>Aparência</li>
          <li>Idade</li>
          <li>Tamanho do corpo</li>
          <li>Deficiências</li>
          <li>Religião</li>
          <li>Gravidez</li>
          <li>Neurodiversidade</li>
          <li>Raça</li>
          <li>Cor</li>
          <li>Origem</li>
          <li>Identidade de gênero</li>
          <li>Expressão de gênero</li>
          <li>Orientação sexual</li>
        </ul>
      </div>
      <p>
        Esta política se estende às palestras, fóruns, workshops, codelabs, mídias sociais, chats públicos ou privados,
        todas as pessoas participantes, parcerias, patrocínio, pessoas voluntárias, equipe do evento, organização, etc.
      </p>

      <p> As embaixadoras WTM se reservam o direito de recusar a admissão ou remover qualquer pessoa desse ou de
        qualquer
        evento hospedado pelas WTMs (incluindo futuros eventos das WTMs) a qualquer momento, a seu exclusivo critério.
        Isso inclui, entre outros, participantes que se comportam de maneira desordenada ou que não cumprem esta
        política e os termos e condições aqui contidos. Se uma pessoa se envolver em comportamento hostil ou
        desconfortável, a organização do evento poderá tomar as medidas que considerarem apropriadas, incluindo advertir
        ou expulsar a pessoa agressora do evento.
      </p>

      <p>Nossa política de tolerância zero significa que analisaremos todas as alegações de violação das diretrizes da
        comunidade de eventos e política antiassédio e responderemos adequadamente e usaremos nossa discrição para
        determinar quando e como acompanhar os incidentes relatados.
      </p>
    </div>
    <div class="pt-1 pb-4">
      <h5 class="font-weight-bold">Porque essa política é importante</h5>
      <p>Infelizmente, o assédio em eventos é algo comum. A criação de uma política oficial visa melhorar isso, deixando
        claro que o assédio por qualquer motivo não é aceitável em nossos eventos e comunidades. Essa política pode
        impedir o assédio, definindo claramente as expectativas de comportamento, objetivando proporcionar segurança e
        incentivando as pessoas que tiveram más experiências em outros eventos a participar dos proporcionados por nós.
      </p>
    </div>

    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">Licença e atribuição</h4>
      <p>
        Essa política é baseada no <a href="https://support.google.com/developergroups/answer/3340512?hl=en"
          target="_blank" rel="noopener">Event Code of Conduct & Anti-Harrassment Policy</a>,
        que por sua vez está licenciada sob a licença Creative Commons Zero. Ela é baseada e influenciada por políticas
        de várias outras comunidades, incluindo: Política anti-assédio do Ohio LinuxFest, Projeto Con Anti-assédio, Geek
        Feminism Wiki (criado pela Ada Initiative), ConfCodeofConduct.com, JSconf, Rust, Diversity in Python, e
        Write/Speak/Code.
      </p>
    </div>
  </section>
  <!--Section: Coc-->
</div>
<div class="between-sections"><br><br></div>