@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/delorean.scss";
// @import "./styles/loading.scss";

.intro-1 {
  background: url("assets/img/banner.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.view[_ngcontent-c2] {
  height: 100vh;
}

body{
  background: url("assets/img/background.png") repeat center center;
  color: #000000;
}

.color-black{
  background-color: #000000 !important;
}

.divider-new:before, .divider-new:after {
  background-image: url("assets/img/line.png") !important;
  background-size: cover !important;
}